table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.book-list-action-buttons {
    display: flex;
    gap: 10px
}

.mat-sort-header-container {
    align-items: center;
  }